<a href="https://colab.research.google.com/github/pvnmahathi/fmml2021/blob/main/05_Flow_control_statement_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Flow control using for-loop
#### 'For' statement is used for iterating over an arithmetic progression of numbers

In [2]:
# range
for i in range(9, 19, 3):
  print (i, end=" ")

9 12 15 18

#### 'For' statement is also used for iterating over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [3]:
# list
my_list = [1, 2, 3, 4]
for each_item in my_list:
  print (each_item, end=" ")

1 2 3 4

In [4]:
my_list = ['a', 'e', 'i', 'o', 'u']

In [8]:
test_char = input("Enter Character: ")

Enter Character: A

In [9]:
test_result = 'consonant'
for each_char in my_list:
  if (each_char == test_char.lower()):
    test_result = 'vowel'
    break

In [10]:
print (test_result)

vowel

In [20]:
# list comprehension
# create a list of all even numbers from 0 to 20
my_list = [number for number in range(0,20,2)]

In [21]:
print("Even numbers from 0 to 20:", my_list)

Even numbers from 0 to 20: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
# list comprehension - another approach using "if" condition
# create a list of all odd numbers from 1 to 20
my_list = [number for number in range(1,20) if (number % 2 == 1)]

In [23]:
print("Odd numbers from 0 to 20:", my_list)

Odd numbers from 0 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Exercise: Given a list of integers, write a for-loop to create a list of its squares.

In [28]:
# for instance if input list is [1, 2, 3, 4],  you need to create a list [1, 4, 9, 16]
#Approach-1 (using for loop)
#input is taken from my_list computed previously
l_sq = []  #list containing squares of elements in the list "my_list"
for i in my_list:
  l_sq.append(i**2)
(l_sq)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [30]:
##Approach-2 (Using list comprehension)
l_squares = [number**2 for number in my_list]
(l_squares)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

Reference:
[Python Documentation on Control Statements](https://docs.python.org/3/tutorial/controlflow.html)